mat-grid-list {
    background-color: #ffb9a6;
    height: 100%;
}

.login-Card {
    text-align: center;
    background-color: #A7CFE8;
    border-radius: 20%;
    width: 50%;
}

@media screen and (max-width: 768px) {
    #sist {
        position: absolute;
        width: 43.5%;
        top: 39.5vw;
        left: 29.1vw;
        height: 29.7%;
        border-radius: 4%;
    }
}

@media screen and (min-width:768px) {
    #sist {
        position: absolute;
        width: 43.5%;
        top: 19.5vw;
        left: 14.2vw;
        height: 29.7%;
        border-radius: 4%;
    }
}

p {
    font-size: x-large;
    font-family: 'Alfa Slab One', cursive;
    margin: 1vw;
}